[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "<=2.2.0"
ip2geotools-locator = {editable = true,path = "."}

[packages]
ip2geotools = "*"
scipy = "*"
folium = "*"
geopy = "*"
sklearn = "*"
kneed = "*"
click = "*"

[requires]
python_version = "3.7"
